extends layout.pug

block content
    div(class="column browse-content")
        h2= `Tv Show`
        div
            ul
                each show in tvShows
                    li #{show.name}
                    li #{show.rating}









        button(type='Logout')
