extends layout.pug

block content
    div(class="column browse-content")
        h2 askldjlaskd 
        h3 askldjaskljda
        div
            if shows
                div
                     ul
                        each show in tvShows
                            li(class="shows")  #{show}














        button(type='Logout')
