doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type="text/css" href='/stylesheets/navbar.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        link(rel="icon" type="image/png" href="/stylesheets/favicon.ico")
        title Binger
    body
      div(class="container")
        div(class="header")
          nav(class="navbar")
            a(class="nav-text" href="/") Home
            a(class="nav-text" href="/sign-in") Login
            a(class="nav-text" href="/sign-up") Register
          div(class="body")
            block content
            div(class="column search-area")
              form(method='post' action='/browse')
                div(class="searchbox")
                  input(type='search' name='keyword' placeholder='Keyword' )
                  button(type='submit') Search
                  //- label(for='showTime') Show Time:
                  //- select(id='showTime' name='showTime')
                  //-   each time in times
                  //-     option(value= time)
                div(class="genres")
                  input(type='checkbox' id='cartoons' name='cartoons')
                  label(for='cartoons') Cartoons
                div(class="genres")
                  input(type='checkbox' id='comedy' name='comedy')
                  label(for='comedy') Comedy
                div(class="genres")
                  input(type='checkbox' id='documentary' name='documentary')
                  label(for='documentary') Documentary
                div(class="genres")
                  input(type='checkbox' id='drama' name='drama')
                  label(for='drama') Drama
                div(class="genres")
                  input(type='checkbox' id='scary' name='scary')
                  label(for='scary') Scary
                div(class="genres")
                  input(type='checkbox' id='romance' name='romance')
                  label(for='romance') Romance
          block foot
            footer
              div(class="footer")
                p(class="names") Vu Matthew Christopher Chiew
                div(class="github-links")
                  a(href="https://github.com/vth-co") Github
                  a(href="https://github.com/mpuer") Github
                  a(href="https://github.com/chrisbritton842") Github
                  a(href="https://github.com/chiews89") Github
