//- doctype html
//- html
//-   head
//-       block head
//-         title="Express Starter App"
//-         link(rel='stylesheet' type="text/css" href='/stylesheets/reset.css')
//-   body
//-     h1#title Binger Project
//-       div.text its me
     
      
