doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type="text/css" href='/stylesheets/navbar.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        link(rel="icon" type="image/png" href="/stylesheets/favicon.ico")
        title Binger
    body
      div(class="container")
        div(class="header")
          nav(class="navbar")
            a(class="nav-text" href="/") Home
            a(class="nav-text" href="/sign-in") Login
            a(class="nav-text" href="/sign-up") Register
          div(class="body")
            block content
            div(class="column search-area")
              form(method='post' action='/browse')
                div(class="searchbox")
                  input(type='search' name='keyword' placeholder='Keyword' )
                  button(type='submit') Search
                  //- label(for='showTime') Show Time:
                  //- select(id='showTime' name='showTime')
                  //-   each time in times
                  //-     option(value= time)
                div(class="genres")
                  input(type='checkbox' id='Cartoons' name='Cartoons')
                  label(for='Cartoons') Cartoons
                div(class="genres")
                  input(type='checkbox' id='Comedy' name='Comedy')
                  label(for='Comedy') Comedy
                div(class="genres")
                  input(type='checkbox' id='Documentary' name='Documentary')
                  label(for='Documentary') Documentary
                div(class="genres")
                  input(type='checkbox' id='Drama' name='Drama')
                  label(for='Drama') Drama
                div(class="genres")
                  input(type='checkbox' id='Horror' name='Horror')
                  label(for='Horror') Horror
                div(class="genres")
                  input(type='checkbox' id='Romance' name='Romance')
                  label(for='Romance') Romance
          block foot
            footer
              div(class="bottom")
                div(class="names")
                  p Vu
                  a(href="https://github.com/vth-co") Github
                div(class="names")
                  p Matthew
                  a(href="https://github.com/mpuer") Github
                div(class="names")
                  p Christopher
                  a(href="https://github.com/chrisbritton842") Github
                div(class="names")
                  p Chiew
                  a(href="https://github.com/chiews89") Github
