doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type="text/css" href='/stylesheets/navbar.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        link(rel="icon" type="image/png" href="/stylesheets/favicon.ico")
        title Binger
    body
     nav(class="navbar")
        a(class="nav-text" href="/") Home
        a(class="nav-text" href="/sign-in") Sign-in
        a(class="nav-text" href="/sign-up") Sign-up
     div
        form(method='get' action='/browse')
          input(type='search' name='keyword' placeholder='Keyword' )
          //- label(for='showTime') Show Time:
          //- select(id='showTime' name='showTime')
          //-   each time in times
          //-     option(value= time)
          div
            input(type='checkbox' id='cartoons' name='cartoons' value='Cartoon')
            label(for='cartoons') Cartoons
            input(type='checkbox' id='comedy' name='comedy' value='Comedy')
            label(for='comedy') Comedy
            input(type='checkbox' id='documentary' name='documentary' value='Documentary')
            label(for='documentary') Documentary
            input(type='checkbox' id='drama' name='drama' value='Drama')
            label(for='drama') Drama
            input(type='checkbox' id='educational' name='educational' value='Educational')
            label(for='cartoons') Cartoons
            input(type='checkbox' id='romance' name='romance' value='Romance')
            label(for='cartoons') Romance
            input(type='checkbox' id='scary' name='scary' value='Scary')
            label(for='scary') Scary
          button(type='submit') Search
     div(class="main-content")
      h2(class="welcome") Welcome to Binger!
      h3(class="welcome2") Follow your favorite tv shows!


    block content
