doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type="text/css" href='/stylesheets/navbar.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet")
        title Binger
    body
     nav(class="navbar")
        a(class="nav-text" href="#") Browse
        a(class="nav-text" href="#") Home
        a(class="nav-text" href="#") Sign-in!
      div
        form(method='get' action='/browse')
          input(type='search' name='keyword' placeholder='Keyword' )
          label(for='showTime') Show Time:
          select(id='showTime' name='showTime')
            each time in times
              option(value= time)
          button(type='submit') Search
    block content
