extends layout.pug

block content
    div(class="column user-content")
        div(class="column channel-content")
        h2 Channels
                //- div #{channel.channelName}
                    div #{channel.Tvshow.name}
