extends layout.pug

block content
    div(class="column user-content")
        div(class="column channel-content")
        h2 Channels
                h3 #{channel.title}
                    each show in shows
                        h4  #{show.name}
