body {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height: 70px;
    background-color: blanchedalmond;
    

}

a.nav-text {
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: rgb(163, 64, 64);
    font-family: 'Montserrat', sans-serif;
}

* {
    /* display: flex;  */
    /* flex-direction: column; */
    box-sizing: border-box;
}

.column {
    float: right;
    padding: 10px;
    height: 300px;
    /* background-color: blue; */
}

.search-area {
    width: 20%;
    height: 1000px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
    /* justify-content: space-evenly; */
}
.browse-content {
    width: 80%;
    height: 1000px;
}

.user-content {
    width: 80%;
    height: 1000px;
}

.review-content {
    width: 80%;
    height: 1000px;
}

.channel-content {
    width: 80%;
    height: 1000px;
}

.main-content {
    width: 80%;
    height: 1000px;
    /* background-color: red; */
}

footer {
    background-color: blanchedalmond;
    position:absolute;
    bottom:0;
    width:100%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

a {
    text-decoration: none;
    color: silver;
}

p {
    font-weight: 900;
    color:rgb(163, 64, 64);
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    font-size:larger;
}

button {
    padding: 1px;
    border-radius: 6px;
    margin:10px;
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 15px;
}

label {
    padding-left: 10px;
    color: rgb(0, 255, 255);
}

search-box {
    padding-bottom: 100px;
}

.images {
    width: 50%;
    height: fit-content;
    padding: 15px 15px;
}

li {
    list-style-type: none;
}

ul {
    padding-bottom: 200px;
}

.shows {
    display: flex;
    flex-direction: row;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #ed9e9e;
    box-shadow: 0 0 10px #ed9e9e;
}


.description {
    padding-left: 25px;
}

h2 {
    text-align: center;
    color:rgb(175, 103, 243);


}

.titles {
    font-size: 150%;
}

.titles.rating.synopsis.genre {
    color:rgb(0, 255, 255);
}
