body {
    display: flex;
    text-align: center;
    background-color: rgb(240, 235, 228);
    color: rgb(155, 107, 44);
    justify-content: space-evenly;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 100px;
    /* border: 2px solid #888888; */
    border-radius: 4px;
    box-shadow: 8px 8px 10px #888888;
    justify-content: space-around;
    margin: 200px 200px;
    border-width: 50px;
    max-width: 500px;

}
button {
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

label {
    float: left;
    width: 10em;  
}
input {
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    display: flex;
    color: red;
}

.sign-in-error {
    display: flex;
    align-content: flex-start;
}
